html, .container {
    background-color:aliceblue;
    font-family: "Playwrite GB S", cursive;
}


h1.heading {
    color: #4a64aa; 
}

#results {
    display: none; /* Hide results initially */
    color:#4a64aa;
}

.input-group-addon {
    background-color: #4a64aa; 
    color: white;
    font-weight: bold;
    border-radius: 18px;
    
}

.input-group {
    color:#4a64aa;
    font-weight: bold;
    font-size: 25px;
    
    
}

.form-control {
    border-radius: 25px;
}
